{
 :deps {
        org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/tools.cli {:mvn/version "0.4.1"}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        net.packet/java-client {:mvn/version "1.0.0"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.3.12"}
        org.slf4j/slf4j-api {:mvn/version "1.7.14"}
        ;org.apache.jclouds/jclouds-all {:mvn/version "2.1.1"}
        eftest {:mvn/version "0.5.2"}
        }


 :paths ["src", "test", "resources"]

 :aliases {
           :rebl {:extra-paths ["dev" "test"]
                  :extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.3"}
                               org.clojure/tools.namespace {:mvn/version "0.2.11"}}
                  :main-opts  ["-m" "rebel-readline.main"]}
           :bench {:extra-deps {criterium {:mvn/version "0.4.4"}}}
           :socket {:jvm-opts ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}
           :nrepl {:extra-deps {org.clojure/tools.nrepl {:mvn/version "0.2.12"}}
                   :main-opts ["-e" "(require,'[clojure.tools.nrepl.server,:refer,[start-server]]),(start-server,:port,5555)"]}
           :test {:extra-paths   ["dev" "test"]
                  :extra-deps {eftest {:mvn/version "0.5.2"}}
                  :main-opts ["-e" "(require,'[eftest.runner,:refer,[find-tests,run-tests]]),(run-tests,(find-tests,\"test\"))"]}
           }
 }
